<div class="container mt-2">
  <div class="d-flex flex-column gap-2">
    <app-navbar></app-navbar>
    <div class="d-flex flex-row gap-2">
      <!-- <div class="d-flex flex-column text-nowrap bg-light p-2">
        <span role="button" routerLink="component-input-example">Component Input Example</span>
        <span role="button" routerLink="for-directive-example">{{"@for"}} Directive Example</span>
        <span role="button" routerLink="event-bind-example">Event Bind Example</span>
      </div> -->
      <app-list-group-menu class="text-nowrap w-25"></app-list-group-menu>
      <span class="flex-grow-1 p-2 text-nowrap w-75">
        <router-outlet></router-outlet>
      </span>
    </div>
  </div>
</div>