<h4>User Login</h4>

<form [formGroup]="form" (ngSubmit)="onSubmit()" class="d-flex flex-column gap-3 w-50">
  <div class="form-group`">
    <label for="username">Username:</label>
    <input type="text" id="username" class="form-control" formControlName="username">
  </div>

  <div class="form-group">
    <label for="password">Password:</label>
    <input type="password" id="password" class="form-control" formControlName="password">
  </div>

  <button type="submit" class="btn btn-primary" [disabled]="form.invalid">
    Login
  </button>
</form>

<div class="mt-2">
  <button class="btn btn-primary" (click) = "googleLogin()">
    Login with Google
  </button>
</div>